<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="dns-prefetch" href="//data.bytedance.com" />
    <link rel="dns-prefetch" href="//data.bytedance.net" />
    <link rel="dns-prefetch" href="//s3.pstatp.com" />
    <link rel="dns-prefetch" href="//s1.pstatp.com" />
    <link rel="dns-prefetch" href="//s3b.pstatp.com" />
    <link rel="dns-prefetch" href="//mcs.snssdk.com" />
    <link rel="icon" type="image/x-icon" href="<%= context.config.publicPath %>favicon.png" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
  </head>
  <body>111
    <div id="root"></div>
  </body>
</html>
